<div class="jumbotron js-closable">
	<a class="js-container-close btn btn-danger pull-right" href="#"><span class="glyphicon glyphicon-remove-sign"></span> </a>
	<h2>Adjective Quiz</h2>
	<!-- Progress bar -->
	<div class="media">
	  <div class="media-body">
	    <h4 class="media-heading">Question 1</h4>
	    <p>Translate the English adjective to spanish.</p>
	  </div>
	</div>
	<div class="question-card">
		<div class="primary-word">
			<h3>traurig</h3>
		</div>
	</div>

	<div class="question-card">
		<div class="secondary-word">
			<form class="row">
				<div class="col-md-8">
					<input class="word-input form-control" />
				</div>
				<div class="col-md-2 pull-right">
					<input class="btn btn-primary" type="button" value="submit" />
				</div>
			</form>
		</div>
	</div>

	<br>
	<section class="quiz-progress">
		<div class="col-md-3 completion-fraction">
			<div class="progress-tag">
				<h4>0/11 <small>Questions</small></h4>
			</div>
		</div>
		<div class="progress col-md-9">
		  <div class="progress-bar" style="width: 0%;"></div>
		</div>
	</section>
</div>