<div class="container" id="quiz">

<h1>Today's Quiz <small>(23 Questions)</small></h1>	
	<div class="col-md-2">
		<div class="row">
			<%= link_to "Verb Quiz", quiz_path(id: "1"), class: 'btn btn-success btn-block' %>
			<%= link_to "Noun Quiz", quiz_path(id: "1"), class: 'btn btn-success btn-block' %>
			<%= link_to "Adjective Quiz", quiz_path(id: "1"), class: 'btn btn-success btn-block' %>
			<%= link_to "Conjunction Quiz", quiz_path(id: "1"), class: 'btn btn-success btn-block' %>
		</div>
	</div>
</div>
