<<<<<<< HEAD
<div class="page-header">
	<h1>Home#index</h1>
</div>

<div id="appHome">

	<div class="row">

		<div class="col-md-6">
			<div class="jumbotron">
			  <h3>Add Cards</h3>
			  <p>Add cards with words in order to improve your vocabulary in a particular. Cards will be quizzed at different periods depending on your strength to recall the word.</p>
			  <p><a class="btn btn-primary btn-block">Add Cards</a></p>
			</div>
		</div>

		<div class="col-md-6">
			<div class="jumbotron">
			  <h3>Today's Quiz</h3>
			  <p>There are words to recall. Take today's quiz to improved your vocabulary with 37 cards waiting!</p>
			  <p><a class="btn btn-success btn-block">Take today's Quiz</a></p>
			</div>
		</div>

	</div>

</div>

<div id="cards"></div>



<!-- 


	- login page
	- welcome page
		- take quiz
		- add cards
	- queue card
		- add cards
		- quiz cards
		- take today's quiz
	



 -->
=======
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Lingo</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		</div>
	</div>
</nav>


<div class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Card</h4>
			</div>
			<div class="modal-body">hello</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>
>>>>>>> 00e82d0abf15767e49ad121a7ae330e43848ef27
