<div class="container" id="appHome">

	<h1>Home#index</h1>
	<div class="row">

		<div class="col-md-6">
			<div class="jumbotron">
			  <h3>Add Cards</h3>
			  <p>Add cards with words in order to improve your vocabulary in a particular. Cards will be quizzed at different periods depending on your strength to recall the word.</p>
			  <%= link_to 'Add Cards', cards_path, class: "btn btn-primary btn-block" %>
			</div>
		</div>

		<div class="col-md-6">
			<div class="jumbotron">
			  <h3>Today's Quiz</h3>
			  <p>There are words to recall. Take today's quiz to improved your vocabulary with 37 cards waiting!</p>
			  <p><a class="btn btn-success btn-block">Take today's Quiz</a></p>
			</div>
		</div>

	</div>

</div>

<!-- 

	- queue card
		- add cards
		- quiz cards
		- take today's quiz
	



<<<<<<< HEAD
 -->
