<h1>Words#index</h1>
<p>Find me in app/views/words/index.html.erb</p>


<% @words.each do |word_type, words| %>
<div class="col-md-3 list-group">
		<h3><%= word_type.name.capitalize.pluralize %></h3>
		<% words.each do |word| %>
		  <a href="#" class="list-group-item">
		    <h4 class="list-group-item-heading"><%= word.name %></h4>
		  </a>
		<% end %>		
</div>
<% end %>
