<div class="container" id="cards">

	<h1>Spanish Cards</h1>
	<div class="row">

		<div class="col-md-4">
			<div class="row page-header">
				<div class="col-md-9">
					<h3>Daily Cards</h3>
				</div>

				<div class="col-md-3">
					<%= link_to "#", class: 'btn btn-primary' do %>
						<span class="glyphicon glyphicon-plus"></span>
					<% end %>
				</div>
			</div>
			<div class="list-group">
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Ser - To be</h4>
			    <p class="list-group-item-text">
			    	<span><span class="badge">1
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">2</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Estar - To be</h4>
			     <p class="list-group-item-text">
			    	<span><span class="badge">2
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">2</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Tener - To have</h4>
			     <p class="list-group-item-text">
			    	<span><span class="badge">3
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">1</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Tocar - To touch</h4>
			    			     <p class="list-group-item-text">
			    	<span><span class="badge">4
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">3</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Jugar - To play</h4>
			    			     <p class="list-group-item-text">
			    	<span><span class="badge">3
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">5</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			</div>
		</div>


		<div class="col-md-4">
			<div class="row page-header">
				<div class="col-md-9">
					<h3>Weekly Cards</h3>
				</div>

				<div class="col-md-3">
					<%= link_to "#", class: 'btn btn-primary' do %>
						<span class="glyphicon glyphicon-plus"></span>
					<% end %>
				</div>
			</div>
			<div class="list-group">
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Ser - To be</h4>
			    <p class="list-group-item-text">
			    	<span><span class="badge">1
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">2</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Estar - To be</h4>
			     <p class="list-group-item-text">
			    	<span><span class="badge">2
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">2</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Tener - To have</h4>
			     <p class="list-group-item-text">
			    	<span><span class="badge">3
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">1</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Tocar - To touch</h4>
			    			     <p class="list-group-item-text">
			    	<span><span class="badge">4
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">3</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Jugar - To play</h4>
			    			     <p class="list-group-item-text">
			    	<span><span class="badge">3
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">5</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			</div>
		</div>


		<div class="col-md-4">
			<div class="row page-header">
				<div class="col-md-9">
					<h3>Monthly Cards</h3>
				</div>

				<div class="col-md-3">
					<%= link_to "#", class: 'btn btn-primary' do %>
						<span class="glyphicon glyphicon-plus"></span>
					<% end %>
				</div>
			</div>
			<div class="list-group">
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Ser - To be</h4>
			    <p class="list-group-item-text">
			    	<span><span class="badge">1
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">2</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Estar - To be</h4>
			     <p class="list-group-item-text">
			    	<span><span class="badge">2
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">2</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Tener - To have</h4>
			     <p class="list-group-item-text">
			    	<span><span class="badge">3
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">1</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Tocar - To touch</h4>
			    			     <p class="list-group-item-text">
			    	<span><span class="badge">4
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">3</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Jugar - To play</h4>
			    			     <p class="list-group-item-text">
			    	<span><span class="badge">3
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">5</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			</div>
		</div>

	</div>

</div>