/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "theme";


.page-header {

	h3 {
		margin: 0;
	}
}

.word-input {
    font-size: 28px !important;
    border-bottom-color: #bbb !important;
    background: #f3f3f3;
    width: 34%;
    height: 48px;
    padding-left: 15px !important;
}

.extra-top-2 {
    margin-top: 28px;
    margin-left: -65px;
}